/* Colors
#ffffff - white
#f1f1f1 - gray
#fdb827 - orange
#21209c - blue/purple
#23120b - black
*/
:root { /*pseudo selector, no existe en el html, root sirve para almacenar elementos css (custom properties)*/
    --white: #ffffff;
    --gray: #f1f1f1;
    --orange: #fdb827;
    --bluepurple: #21209c;
    --black: #23120b;
}

/*font-family: 'Amaranth', sans-serif;
font-family: 'Quicksand', sans-serif;*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 body {
    font-size: 16px;/*1rem = 10px*/
    font-family: 'Quicksand', sans-serif;
 }
 
.title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--black);
    font-family: 'Amaranth', sans-serif;
    font-weight: normal; /*es lo mismo a 400, y bold a 700*/
 }
 
 .title span {
    font-size: 2rem;
    color:var(--orange);
 }

 .container {
    max-width: 120rem;
    margin: 0 auto;
 }

 .nav-bg {
   background-color: var(--bluepurple);
 }

.main-navigation {
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (min-width: 768px) { /*tablet*/
   .main-navigation{
      flex-direction: row;
      justify-content: space-evenly;
   }
}
.main-navigation a{
   color: var(--white);
   text-decoration: none;
   font-size: 2rem;
   font-weight: bold;
   padding: 1rem;
}

.main-navigation a:hover{
   background-color: var(--orange);
   color: var(--bluepurple);
}

/*Solo se coloca lo que quieres cambiar, no es necesario reescribir todo
480px --> telefono
768px --> tablet
1140px --> laptop/compu de escritorio
1400px --> convencion
@media (min-width: 480px) { Cuando el width se aplica el siguiente codigo
   body{
      background-color:rebeccapurple;
   }
} */

@media (min-width: 768px) {
    h1 {

    }
}
